<div>

  <div class="" style="font-size: 16px;padding-bottom: 16px;">
    <span style="padding-right: 8px;font-weight: 700">Disclaimer:</span><span>{{disclaimer}}</span>
  </div>

  <div class="" style="font-size: 16px;padding-bottom: 16px;">
    <span style="padding-right: 8px;font-weight: 700">Timestamp:</span><span>{{timestamp}}</span>
  </div>

  <div class="" style="font-size: 16px;padding-bottom: 16px;">
    <span style="padding-right: 8px;font-weight: 700">Base:</span><span>{{base}}</span>
  </div>

  <div class="" style="font-size: 16px;">
    Click on the column to sort the data.
  </div>

  <div style="float: right">
    <div class="btn btn-default" ng-click="refreshData()">Refresh</div>
  </div>

</div>

<div class="">

  <table class="table table-hover" class="table-responsive">
    <thead>
    <tr>
      <th>
        <div style="cursor: pointer;" ng-click="sortByCurrency()">Currency</div>
      </th>
      <th>
        <div style="cursor: pointer;" ng-click="sortByCurrencyValue()">Value</div>
      </th>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="exchange_rate in exchange_rates">
        <td>{{exchange_rate.currency}}</td>
        <td>{{exchange_rate.value}}</td>
      </tr>

    </tbody>
  </table>

</div>
