<div class="js_rates_container"
  data-content="<%= render(partial: 'exchange/index', formats: [:json], locals: {rate: @rate, time: @time, date: @date, exchange_rate: @exchange_rate}) %>"
  ng-controller='RatesController' ng-cloak>

  <div ng-if="error_message" style="color: red;">
    {{error_message}}
  </div>
  
  <div ng-if="!error_message">
    <div class="navbar-padding">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" style="color: white">FX Trading</a>
        </div>
        <ul class="nav navbar-nav">
          <li style="color: white;padding: 15px 15px;"><span style="padding-right: 8px;">Last Updated At:</span>
            <span style="padding-right: 8px;">{{date}}</span>
            <span style="padding-right: 720px;">{{time}}</span>
            <span><span style="padding-right: 8px;">Current USD/CAD:</span>{{exchange_rate_usd_cad}}</span>
          </li>
        </ul>
      </div>
    </nav>
    </div>

    <%= render 'main_content' %>
  </div>


  <div class="footer">
    <p>@FX Trading</p>
  </div>

</div>
